/* تحميل خط Tajawal بطريقة صحيحة مع Nuxt */


@font-face {
  font-family: "Tajawal-ExtraBold";
  src: url("/fonts/Tajawal/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
  font-display: swap;
}

.TajawalExtraBold {
  font-family: "Tajawal-ExtraBold", sans-serif !important;
}
@font-face {
  font-family: "Tajawal-Medium";
  src: url("/fonts/Tajawal/Tajawal-Medium.ttf") format("truetype");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
  font-display: swap;
}

.TajawalMedium {
  font-family: "Tajawal-Medium", sans-serif !important;
}
@font-face {
  font-family: "Tajawal-ExtraBold";
  src: url("/fonts/Tajawal/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
  font-display: swap;
}

.TajawalExtraBold {
  font-family: "Tajawal-ExtraBold", sans-serif !important;
}
@font-face {
  font-family: "Tajawal-ExtraBold";
  src: url("/fonts/Tajawal/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
  font-display: swap;
}

.TajawalExtraBold {
  font-family: "Tajawal-ExtraBold", sans-serif !important;
}
